/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/***********************************************
 * Table of Contents
 * root
 * vanilla
 * id's
 * classes
 ***********************************************/

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Variables */

:root {
    --primary-color: white;
    --secondary-color: #4c96d7;
    --accent1-color: midnightblue;
    --text1-color: black;
    --text2-color: white;
    --text-hero-color: #4c96d7;
    --heading-font: Roboto, sans-serif;
    --paragraph-font:Roboto, Helvetica, sans-serif;
}
html, body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0 .5rem;
}
/* Vanilla */
nav {
  background-color: var(--primary-color);
}

h1 {
  font-family: var(--heading-font);
  font-size: x-large;
  width: fit-content;
}

h2, h3 {
  font-family: var(--heading-font);
  font-size: x-large;
  width: fit-content;
}

p {
  font-family: var(--paragraph-font);
  font-size: large;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: var(--paragraph-font);
  margin: 1rem auto

}

td, th {
  border: 1px solid var(--accent1-color);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightblue;
}

tr a {
  text-decoration: none;
  color: var(--text1-color);
  display: block;
  border: solid 2px var(--accent1-color);
  border-radius: 7px;
  padding: 1rem;
  
}

footer {
  /* background-color: var(--primary-color); */
  padding: 1rem 0 1rem 0;
}

main li {
  padding-inline-start: 0;
  list-style-type: none;
  border: 1px solid var(--accent1-color);
  margin: .5rem
}

label {
  display: block;
  font-size: x-large;
  font-family: var(--heading-font);
}

input {
  height: 50px;
  font-size: x-large;
  margin-bottom: 1rem;
  font-family: var(--paragraph-font);
}

input:required:invalid, input:focus:invalid {
  background-image: url(../images/site/invalid.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  border: red solid 2px;
  border-radius: 5px;
  color: red;
  outline: none;
}

input:required:valid {
  background-image: url(../images/site/valid.webp);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  border: var(--accent1-color) solid 2px;
  border-radius: 5px;
  color: var(--text1-color);
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  font-size: larger;
  margin-bottom: 1rem;
}

form button{
  font-size: xx-large;
  background-color: var(--secondary-color);
  border: var(--accent1-color) solid 2px;
  border-radius: 7px;
}
/**********************
 * These are ID's 
 **********************/
#navbar {
  list-style: none;
  padding-inline-start: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto 0 auto;
}

#navbar li {
  text-align: center;
  background-color: var(--accent1-color);
  flex: 1;
  padding: .5rem;
}

#navbar li a {
  text-decoration: none;
  color: var(--text2-color);
  font-family: var(--paragraph-font);
}

#tools {
  margin-left: auto;
  margin-right: 1rem;
  font-family: var(--paragraph-font);
}

#tools a {
  text-decoration: none;
  color: var(--text1-color)
}

#top-header {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: var(--primary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

#own-today {
  max-width: 75%;
  position: relative;
  display: block;
}

#upgrade-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
}

#upgrade-grid .card .imgContainer .img {
  display: inline;
  vertical-align: middle;
}


#upgrade-grid .card .imgContainer {
  border: var(--accent1-color) 2px solid;
  background-color: var(--secondary-color);
  padding: .5rem;
  height: calc(100% - 1.5rem);
}

#upgrade-grid .card a {
  border: var(--primary-color) 2px solid;
  margin-bottom: 0;
  color: var(--accent1-color)
}

#upgrade-grid .card img, a {
  display: block;
  margin: auto;
  text-align: center;
  font-family: var(--paragraph-font);
}

/* ID's for individual pages */
#inv_price {
  font-size: xx-large;
  color: var(--text2-color);
  background-color: var(--text-hero-color);
  text-align: center;
  padding: 3rem;
  margin: 15% auto 25% auto;
  height: 50%;
}

#classification_id {
  padding: 0 1rem 0 .5rem;
  border: var(--accent1-color) solid 2px;
  font-size: x-large;
  border-radius: 7px;
  height: 50px;
}

#addInventorySubmit {
  display: block;
  margin: 1rem auto auto auto;
  height: 50px;
}

#managmentWrapper a {
  display: block;
  text-decoration: none;
}

#managmentWrapper button {
  font-size: xx-large;
  display: block;
  width: 277px;
  height: 50px;
  text-decoration: none;
  background-color: var(--secondary-color);
  border: var(--accent1-color) solid 2px;
  border-radius: 7px;
  margin: 1rem auto;
}

#updateAccountButton{
  font-size: large;
  background-color: var(--secondary-color);
  border: var(--accent1-color) solid 2px;
  border-radius: 7px;
  padding: .75rem;
}

#managementGrid p {
  margin-left: 1rem;
}

#manageLink a {
  display: block;
  text-decoration: none;
  color: var(--text1-color);
  font-size: large;
  border: var(--accent1-color) solid 2px;
  border-radius: 7px;
  padding: .75rem;
  background-color: var(--secondary-color);
  width: fit-content;
}

/****************************************************
 * These are classes 
 ****************************************************/
.hero .card p {
  margin: .5rem;
  font-family: var(--paragraph-font);
  font-weight: bold;
  color: var(--text-hero-color);
}

.hero .card h1 {
  color: var(--text-hero-color);
}

.copyright {
  margin: 0 0 0 1rem;
  font-family: var(--paragraph-font);
}

.form {
  font-family: var(--paragraph-font);
  background-color: var(--text-hero-color);
  border: var(--accent1-color) solid 5px;
  border-radius: 25px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.form > *{
  display: block;
  width: 75%;
  margin: auto auto;
}

.form button {
  display: block;
  height: 50px;
  font-family: var(--paragraph-font);
  width: auto;
  margin: auto auto;
}

.form input{
  margin-bottom: 1rem;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: 2px var(--accent1-color) solid;
  outline: none;
}

.form p {
  text-align: center;
}

.form a {
  display: inline;
  color: var(--text1-color)
}

.form button {
  border: 2px var(--accent1-color) solid;
  border-radius: 17px;
  margin-bottom: 1rem;
  padding: .25rem 1rem;
  background-color: var(--primary-color);
}

.grid {
  display: flex;
  flex-direction: column;
}

.hero {
  flex: 1;
  flex-basis: content;
  height: fit-content;
}

.hero .card {
  background-color: var(--primary-color);
  background: rgba(255, 255, 255, .5);
  width: 160px;
  /* height: 400px;   */
  position: absolute;
  z-index: 999;
}

.heroImg {
  position: relative;
  max-width: 100%;
  width: 80%;
  margin: 1.5rem auto auto 4rem;  
}

.notice li {
  color: red;
  font-weight: bold;
  border: none;
  font-family: var(--paragraph-font);
}

.review {
  font-family: var(--paragraph-font);
  margin: 1rem;
}

.review li {
  border: none;
}

.siteName a {
  text-decoration: none;
  font-family: var(--heading-font);
  color: var(--text1-color);
  font-size: x-large;
  font-weight: bold;
  margin: 2rem 1rem 1rem 1rem;
}



