<!-- If a title is passed to classification we make a header for it -->
<% if (title) { %>
    <h1><%= title %></h1>
   <% } else {
       res.redirect('/')
    }%>
<%# messages() %>

<% if (errors) { %>
        <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
  </ul>
<% } %>

<div id="managmentWrapper">
    <form action="/inv/addClassification" method="POST">
        <label for="classification_name">Classification Name:</label>
        <input type="text" name="classification_name" id="classification_name" required title="A new Classification of at least 4 characters" value="<%= locals.classification_name %>" pattern="[A-Za-z0-9]{4,}">
        <button type="submit">Add Classification</button>
    </form>
</div>